<div class="header">
    <h1>SQL Forum</h1>
    <nav class="header-buttons">
        <a href="/">Forum</a>
        <a href="/profile">Profile</a>
        <a href="/login">Login</a>
        <a href="/logout" onclick="logout()">Logout</a>
    </nav>
</div>


<div class="profile-container">
    <div class="profile-image">
        JD
    </div>
    <div class="profile-info">
        <h2>John Doe</h2>
        <p>Email: johndoe@example.com</p>
        <p>Location: New York, USA</p>
        <p>Interests: SQL, Pentesting forums</p>
    </div>
    <a href="/wallet">Bitcoin Wallet Management Page</a>
</div>