<!DOCTYPE html>
<html>
<body>
    <!--<div class="header">
        <h1>SQL Forum</h1>
        <nav class="header-buttons">
            <a href="index.html">Forum</a>
            <a href="profile.html">Profile</a>
            <a href="login.html">Logout</a>
        </nav>
    </div>-->
    <div class="profile-container">
        <div class="profile-image">
            JD
        </div>
        <div class="profile-info">
            <h2>John Doe</h2>
            <p>Email: johndoe@example.com</p>
            <p>Location: New York, USA</p>
            <p>Interests: SQL, Pentesting forums</p>
        </div>
    </div>
</body>
</html>
